h3 {
font-size: 25px !important;

}


.btn-success:hover{
    background-color: dodgerblue;
}


@keyframes shaurya {
    from{box-shadow: 1px 1px 38px royalblue;}
    to{box-shadow: 1px 1px 38px rebeccapurple;}
}

canvas{
    animation-name: shaurya;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}